
html {
    font-family: monospace;
    height: 100%;
    width: 100%;
}

body {
    background-color: darkslategray;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

thead {
    position: sticky;
    top: 0;
}

table {
    height: 90%;
    color: white;
    border-collapse:collapse;
    width: 100%;
}

table td {
    border:1px solid white;
 }

#main-div {
    display: flex;
    vertical-align: middle;
    margin: auto;
    background-color: black;
    height: 90%;
    width: 90%;
    justify-content: space-evenly;
    border: 2px;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
}

.list-ul {
    margin: 0;
    padding: 0;
    list-style-type: none;    
}

.list-item-button {
    background-color: gray;
    color:white;
    width: 90%;
    border-radius: 15px;
}

.list-container-div {
    overflow-y: scroll;
    display: inline-block;
    vertical-align: middle;
    border: 2px;
    border-color: white;
    min-height: 95%;
    max-height: 95%;
    border-style: solid;
    text-align: center;
    border-radius: 10px;
    margin: auto;
    padding: 10px;
    background-color: black;
}

#left-list-div {
    left: 4%;
    width: 25%;
}

#right-list-div {
    right: 4%;
    width: 65%;
}
